:root {
  --primary-color: #ff002e;
  --secondary-color: #ffcccc;
}

/* App */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  background-color: var(--secondary-color);
  font-family: Arial, sans-serif;
}

.index {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.swap-container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.tab-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.tab-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

.tab-button.active {
  font-weight: bold;
  color: #333;
}

.settings-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.input-container {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  margin-top: 5px;
}

input {
  flex-grow: 1;
  border: none;
  background: none;
  font-size: 24px;
  outline: none;
}

select {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.balance {
  text-align: right;
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.swap-button {
  display: block;
  margin: 10px auto;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  text-align: center;

  small {
    margin-right: -100px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }
}

.action-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.disclaimers {
  margin-top: 20px;
  color: lightcoral;
  display: flex;
  flex-direction: column;
}

/* Sidebar */
.collapsed {
  display: none;
}
.button-collapse {
  position: fixed;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
}
.right {
  position: fixed;
  right: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0; /* -300 if open */
  width: 300px;
  height: 100vh; /* Full height */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow on the left side */
  overflow-y: auto;
  transition: right 0.3s ease; /* Transition for smooth animation */
  z-index: 999;
}
.address {
  color: black;
}
.wallet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.wallet-address {
  font-size: 14px;
  color: #333;
}
.connect-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.balance-info h2 {
  font-size: 24px;
  margin: 0;
}
.balance-change {
  color: #4caf50;
  font-size: 14px;
}
.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.action-button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.buy {
  background-color: #e0e0ff;
  color: #5050ff;
}
.receive {
  background-color: #ffe0ff;
  color: #ff50ff;
}
.tabs {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}
.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #888;
}
.tab.active {
  color: #333;
  border-bottom: 2px solid #333;
}
.position-list {
  margin-top: 20px;
}
.position-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.position-icon {
  font-size: 24px;
  margin-right: 10px;
}
.position-details {
  flex: 1;
}
.position-name {
  font-weight: bold;
}
.position-amount {
  color: #888;
}
.position-value {
  text-align: right;
}
.position-change {
  font-size: 12px;
}
.positive {
  color: #4caf50;
}
.negative {
  color: #f44336;
}
.show-hidden {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.blockies {
  border: 2px solid transparent;
  border-radius: 20px;
}
.maturity {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    margin-left: 10px;
  }
  .days {
    margin-left: -30px;
  }
}
.repay {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-color);
  color: black;
  font-size: 18px;
  cursor: pointer;

  small {
    font-size: 8px;
  }
}
.compensate {
  margin-left: 10px;
}
.deposit {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    margin-left: 10px;
  }
}
.w-80 {
  width: 80px;
}

/* Limit */

.limit-container {
  width: 400px;
}

.limit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  input {
    width: 50px;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.select-market {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.chart-user-input {
  width: calc(100% - 60px);
}

/* Funding */

.funding-container {
  width: 400px;
}

/* Registry */

.registry {
  height: 600px;
  width: calc(50vw - 60px);
  overflow-y: auto;
}
.registry-container {
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}

.registry-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 600px;
}
.market-entry {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.market-entry div {
  margin-bottom: 8px;
}
.market-entry div b {
  color: #333;
}

.past-blocks-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  input {
    width: 50px;
  }
}

/* Factory */

.factory-container {
  width: 600px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.factory-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.factory-table th {
  background-color: #d3d3d3;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.factory-table td {
  padding: 10px;
}

.factory-table .even-row {
  background-color: #f9f9f9;
}

.factory-table .odd-row {
  background-color: #ffffff;
}

.factory-table tr:hover {
  background-color: #e0e0e0;
}

.safe-input-container {
  margin-top: 20px;
}

.safe-input-row {
  textarea {
    width: 100%;
  }
}

.width-100 {
  width: 100%;
}

.tx-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.tx-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  input {
    font-family: monospace;
    font-size: 14px;
  }
}
